body {
    margin: 20px;
    padding: 5px;
    text-align: center;
    background-color: rgb(109, 9, 9);
    color: rgb(0, 0, 0);
    font-size: large;
    font-style: oblique;
}
.cent {
    background-color: rgb(6, 7, 7);
    width: 300px;
    height: 362px;
    padding: 75px 20px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    color: rgb(109, 9, 9);
}
.cent input{
    width: 240px;
    height: 25px;
}
.centt {
    padding-bottom: 10px;
    margin-top: -80px;
}
.link a :hover {
    color: darkred;
}

